# Arquivos sensíveis
.env
credentials.json

# Ambientes virtuais
venv/
.env/
*.pyc
__pycache__/

# Cache do Streamlit
.streamlit/

# Ambientes virtuais
venv/

# Cache do Streamlit
.streamlit/secrets.toml
